{{#if peopleList}}
  <h1>Birthdays:</h1>
  <ul class="list-group">
    {{#each peopleList}}
      {{#with this}}
        <li class="list-group-item">{{_firstName}} {{_lastName}} - {{_birthday}}</li>
      {{/with}}
    {{/each}}
  </ul>
{{else}}
  <h1>There are not birthday in your list</h1>
{{/if}}