body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/background.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 10vw;
}

a {
  color: #00B7FF;
}

table{
  width: 100%;
}

.container{
  margin: 0;
  padding: 0;
  width: 100%;
  background: rgba(255,255,255, 0);
}

li, input[type='text'], input[type='date']{
  background: rgba(255,255,255, 0.2)!important;
  display: flex!important;
  flex-direction: row;
}

td{
  max-width: 30vw;
  word-wrap: break-word;
}

footer{
  position: fixed!important;
  left: 0!important;
  bottom: 0!important;
  width: 80vw;
  text-align: center;
  margin: 0 10vw!important;
}

.list-group-item > div{
  display: flex;
  width: 20vw;
}

.list-group-item > div:nth-child(1){
  align-self: flex-start;
}

.list-group-item > div:nth-child(2){
  align-self: flex-end;
}

.red{
  color: red;
}